form > label:first-of-type, :nth-of-type(2) {
    color: red;
}

form > label:nth-of-type(3) {
    color: blue;
}

form > input:last-child {
    border-radius: 10px;
}

form > input:first-of-type:hover {
    background-color: blue;
}

