nav {
    text-align: center;
}

#mainMenu > li {
    display: inline;
    padding: 10px;
}

#mainMenu {
    font-size: 20px;
}

body {
    background-color: black;
    color: white;
}

#leftSide, #rightSide {
    padding-left: 50px;
    padding-top: 30px;
    width: 150px;
    font-style: italic;
    font-size: 20px;
}

#rightSide {
    width: 100%;
}

.season {
    display: flex;
    /* justify-content: space-around; */
}

.productParent > .season {
    padding: 30px;
}

#parent {
    display: flex;
}    

/* .product {
    width: 170px;
    height: 170px;
} */


.product > img {
    width: 100%;
}

.product-img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Spring, Summer, Autumn, Winter */

.bouquet-description {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 70px;
    /* display: inline-block; */
    /* text-align: center; */
    padding-top: 50px;
    padding-left: 50px;
}

h3 {
    font-size: unset;
}

img {
    width: 200px;
}

.product-description-image > img {
    width: 450px;
}

.product-description-text {
    padding-top: 30px;
}

.product {
    width: 300px;
    text-align: center;
    padding-left: 70px;
}
}