nav {
    text-align: center;
}

#mainMenu > li {
    display: inline;
    padding: 10px;
}

#mainMenu {
    font-size: 20px;
}

body {
    background-color: black;
    color: white;
}

#leftSide {
    padding-left: 50px;
    padding-top: 30px;
    width: 350px;
    font-style: italic;
    font-size: 20px;
}

#rightSide {
    width: 100%;
    padding-top: 30px;
}

.season {
    display: flex;
    /* justify-content: space-around; */
}

.productParent > .season {
    padding-top: 30px;
}

#parent {
    display: flex;
}    

/* .product {
    width: 170px;
    height: 170px;
} */


.product > img {
    width: 100%;
}

.product-img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Spring, Summer, Autumn, Winter */

.bouquet-description {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-gap: 70px;
    /* display: inline-block; */
    /* text-align: center; */
    padding-top: 50px;
    padding-left: 50px;
}

h3 {
    font-size: unset;
}

img {
    width: 200px;
}

.product-description-image > img {
    width: 450px;
}

.product-description-text {
    padding-top: 30px;
}

.product {
    width: 300px;
    text-align: center;
    padding-left: 50px;
}

.topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .wishlist-product, .cart-product, .cart-quantity {
      display: flex;
  }
  
  .small-img {
      width: 120px;
  }

  .little-img {
      width: 100px;
  }

  .wishlist-description {
      font-size: 17px;
      padding-left: 13px;
  }

  .cart-description {
    font-size: 15px;
    padding-left: 13px;
  }

.cart-quantity {
    height: 25px;
    margin-top: 17px;
    margin-left: 30px;
}

.cart-quantity-input {
    width: 30px;
}

.cart-product {
    display: flex;
}

.btn {
    margin-left: 20px;
}

#item-price-quantity > li {
    display: inline;
}

#item-price-quantity {
    font-size: 20px;
}

#cartPrice {
    margin-left: 52px;
}

#cartQuantity {
    margin-left: 190px;
}

.add-to-cart {
    margin-top: 10px;
}